@charset "utf-8";
/* 你自己的样式 */

/*搜索框靠右显示*/
.pull-right {
    float: right;
}
.btn-group {
    position: relative;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

#toggle-advanced-search {
    padding: 4px 8px;
}
#div-advanced-search .well {
    margin-bottom: 10px;
}
.row-fluid {
    margin-top: 10px;
    width: 100%;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.radius {
    border-radius:5px;
}
.progress {
    margin-top: 10px;
}
